<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mock IMDB API Server</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Laxminarayan Chandrashekar" />
    <meta name="description" content=" Mock API providing top 250 movie list" />
    <!-- Avoid console error for favicon -->
    <link rel=" icon" type="image/png" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
    <header>
        <h1>This Flask based API server currently serves the following endpoint URL for consumption</h1>
    </header>
    <div>
        <ul>
            <li> <a href="http://127.0.0.1:5000/imdb">
                    <bold>/imdb</bold>
                </a>: GET API to fetch list of top 250 Movies list</li>
        </ul>
    </div>
    <div>
        Ensure to start the http-server to view the web application that consumes this API <a
            href="http://127.0.0.1:8080">here</a>
    </div>
</body>

<body>